sudo: required
language: go
before_install:
- curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
- wget -qO - https://packages.confluent.io/deb/5.2/archive.key | sudo apt-key add -
- sudo add-apt-repository "deb [arch=amd64] https://packages.confluent.io/deb/5.2 stable main"
- sudo apt-get update
- sudo apt-get install -y libmagic-dev librdkafka-dev
go:
- 1.12.x
services:
- redis
install:
- dep ensure
- go get github.com/rakyll/statik
script:
- make check
branches:
  only:
    - master
